/*--basic--*/
@media (max-width: 768px) {
  body {
    padding-top: 60px; } }
body, p, h1, h2, h3, h4, h5, ul {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif !important; }

/*--header--*/
.logo {
  display: inline !important;
  height: 45px;
  margin-top: -8px;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .logo:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }

.logo-title {
  cursor: default;
  display: inline;
  font-size: 1.2em;
  color: #666;
  margin-left: 10px;
  margin-top: 5px; }
  @media (min-width: 768px) {
    .logo-title {
      color: #fff;
      font-size: 1.5em;
      text-shadow: 0 3px 1px rgba(0, 0, 0, 0.22); } }

.navbar-brand {
  padding-top: 12px !important; }
  @media (max-width: 768px) {
    .navbar-brand {
      padding-top: 10px !important; } }

.head-content {
  height: 600px;
  text-align: center;
  padding: 0 !important; }
  @media (max-width: 768px) {
    .head-content {
      height: 250px; } }

.head-mask {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  text-align: center; }

.head-content h1 {
  cursor: default;
  color: #fff;
  vertical-align: middle;
  font-size: 4em;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.22);
  margin-top: 181px;
  padding: 0 10px; }
  @media (max-width: 768px) {
    .head-content h1 {
      font-size: 1.7em;
      margin: 87px 0 0 0; } }

/*--navigation--*/
.nav-container {
  top: 20px;
  width: 100%;
  z-index: 100;
  background-color: transparent; }
  @media (max-width: 768px) {
    .nav-container {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.22);
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.22); } }

.head-nav {
  margin: 5px 0; }

.head-nav li {
  font-size: 16px;
  margin-left: 10px; }
  @media (max-width: 768px) {
    .head-nav li {
      margin-bottom: 5px; } }
  .head-nav li > a {
    border-radius: 4px;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }

.head-nav .icon-bar {
  background-color: #6f64b9; }

.navbar-toggle {
  border: 1px solid #6f64b9 !important; }

.nav-btn {
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  @media (max-width: 768px) {
    .nav-btn {
      width: 80px;
      font-size: 16px; } }
  .nav-btn .glyphicon {
    margin-right: 10px; }

/*--nav home--*/
.nav-home .nav-btn {
  color: #64c0d1; }

.nav-home a:hover {
  background-color: #64c0d1 !important; }
  .nav-home a:hover .nav-btn {
    color: #fff !important; }

.nav-home-active a,
.nav-home-active a:hover {
  color: #fff;
  background-color: #64c0d1 !important; }

/*--nav blog--*/
.nav-blog .nav-btn {
  color: #5dce9a; }

.nav-blog a:hover {
  background-color: #5dce9a !important; }
  .nav-blog a:hover .nav-btn {
    color: #fff !important; }

.nav-blog-active a,
.nav-blog-active a:hover {
  color: #fff;
  background-color: #5dce9a !important; }

/*--nav work--*/
.nav-work .nav-btn {
  color: #7f64d9; }

.nav-work a:hover {
  background-color: #7f64d9 !important; }
  .nav-work a:hover .nav-btn {
    color: #fff !important; }

.nav-work-active a,
.nav-work-active a:hover {
  color: #fff;
  background-color: #7f64d9 !important; }

@media (min-width: 768px) {
  .nav-work .nav-btn,
  .nav-home .nav-btn,
  .nav-blog .nav-btn {
    color: #eee;
    opacity: 0.9; } }
/*--foot--*/
footer {
  min-height: 150px;
  padding: 30px 0;
  background-color: #262a30; }

.copyright {
  cursor: default;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-align: center;
  margin-top: 25px; }

.social-icons {
  text-align: center; }
  .social-icons > a > img {
    opacity: 0.7;
    -webkit-transition: all 0.16s cubic-bezier(0, -0.5, 0, 2);
    -o-transition: all 0.16s cubic-bezier(0, -0.5, 0, 2);
    transition: all 0.16s cubic-bezier(0, -0.5, 0, 2); }
    .social-icons > a > img:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      opacity: 1; }

.img-linkedin {
  width: 45px;
  margin-top: 10px; }

.img-renren {
  width: 60px;
  margin-top: 5px; }

.img-weixin {
  width: 50px;
  margin-top: 10px; }

.weixin-box {
  position: absolute;
  bottom: 70px;
  display: none;
  z-index: 1000; }
  .weixin-box > img {
    max-width: 180%;
    height: auto;
    margin-left: -50%;
    -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3); }

/*--To top--*/
.to-top {
  position: fixed;
  z-index: 1000;
  width: 26px;
  height: 62px;
  right: 60px;
  bottom: 60px;
  background: url(http://nland-images.stor.sinaapp.com/to_top.png) no-repeat 0 -62px;
  -webkit-transition: all 0.16s cubic-bezier(0, -0.5, 0, 2);
  -o-transition: all 0.16s cubic-bezier(0, -0.5, 0, 2);
  transition: all 0.16s cubic-bezier(0, -0.5, 0, 2);
  display: none; }
  @media (max-width: 480px) {
    .to-top {
      right: 10px;
      bottom: 15px; } }
  .to-top:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

/*--duoshuo--*/
.ds-sync,
.ds-powered-by,
.ds-dialog-footer span {
  display: none !important; }

.ds-comments-tab-duoshuo {
  border: none !important; }

.ds-post-self {
  background: #f7f7f7;
  padding: 15px 0 10px 0 !important; }

.ds-user-name {
  font-weight: bold !important;
  color: #d32 !important; }

.ds-post-self p {
  color: #787968; }

.ds-highlight {
  font-weight: bold !important; }

.ds-post-button {
  background: #00A3CF !important;
  color: #fff !important;
  border: none !important;
  text-shadow: none !important;
  border-radius: 0 !important; }
  .ds-post-button:hover {
    background: #00839F !important; }

.ds-post-options {
  border: none !important;
  background: none !important;
  margin-top: 15px !important; }

.ds-textarea-wrapper {
  border: 1px solid #ccc !important;
  border-radius: 3px !important; }

/*# sourceMappingURL=base.css.map */
