/*--work--*/
.head-content {
  background: url("http://nland-images.stor.sinaapp.com/work_cover.jpg") no-repeat center;
  background-size: cover; }
  @media (max-width: 768px) {
    .head-content {
      background: url("http://nland-images.stor.sinaapp.com/work_cover_s.jpg") no-repeat center;
      background-size: cover; } }

.work-sec {
  padding: 70px 0; }
  @media (max-width: 992px) {
    .work-sec {
      padding: 40px 0; } }

.intro h2 {
  color: #2ab2e2;
  text-align: center;
  font-size: 26px;
  margin: 0; }
  .intro h2:hover {
    cursor: pointer; }

.intro-img {
  max-width: 150px !important;
  margin: 0 auto 30px auto !important;
  -webkit-animation: imgScale 1s linear infinite;
  -moz-animation: imgScale 1s linear infinite;
  -o-animation: imgScale 1s linear infinite;
  animation: imgScale 1s linear infinite; }
  .intro-img:hover {
    cursor: pointer; }
  @media (max-width: 992px) {
    .intro-img {
      max-width: 100px !important;
      margin: 0 auto 20px auto !important; } }

@keyframes imgScale {
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes imgScale {
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes imgScale {
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes imgScale {
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.work-sec-1 {
  background: #7dcc93; }

.work-sec-2 {
  background: #66A7D5; }

.work-img {
  max-width: 600px;
  margin: 0 auto; }
  .work-img img {
    width: 100%;
    height: auto; }
  @media (max-width: 768px) {
    .work-img {
      max-width: 300px; } }

.work-intro {
  max-width: 600px;
  margin: 0 auto; }
  .work-intro h2 {
    color: #fff;
    text-align: center;
    margin-top: 35px;
    font-weight: bold; }
    @media (max-width: 992px) {
      .work-intro h2 {
        font-size: 26px;
        margin-top: 20px; } }

.work-intro h3 {
  color: #fff;
  text-align: center;
  font-size: 20px; }
  @media (max-width: 992px) {
    .work-intro h3 {
      font-size: 18px;
      margin: 10px 0; } }

/*--section swiper--*/
.swiper-button-prev {
  left: 50px !important; }

.swiper-button-next {
  right: 50px !important; }

@media (max-width: 768px) {
  .swiper-button-prev {
    left: 10px !important; }

  .swiper-button-next {
    right: 10px !important; } }
.swiper-button-prev,
.swiper-button-next {
  width: 17px !important;
  height: 30px !important;
  margin-top: -12px !important; }
  @media (max-width: 480px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none; } }

.swiper-button-prev {
  background: url("http://nland-images.stor.sinaapp.com/arrows.png") no-repeat left top !important; }

.swiper-button-next {
  background: url("http://nland-images.stor.sinaapp.com/arrows.png") no-repeat left bottom !important; }

.swiper-pagination-bullet-active {
  background: #fff !important; }

/*--intro hover--*/
.intro-hover:after,
.intro-hover:before {
  position: absolute;
  top: -1px;
  opacity: 0;
  -webkit-transition: opacity 218ms,-webkit-transform 300ms;
  transition: opacity 218ms,        transform 300ms; }

.intro-hover:before {
  content: '[';
  left: -5px;
  -webkit-transform: translate(1em, 0);
  -ms-transform: translate(1em, 0);
  -o-transform: translate(1em, 0);
  transform: translate(1em, 0); }

.intro-hover:after {
  content: ']';
  right: -5px;
  -webkit-transform: translate(-1em, 0);
  -ms-transform: translate(-1em, 0);
  -o-transform: translate(-1em, 0);
  transform: translate(-1em, 0); }

.intro-hover:hover:after,
.intro-hover:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

/*# sourceMappingURL=work.css.map */
